@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full mb-4 border-gray-300 rounded-lg shadow-sm focus:border-primary focus:ring-primary;
  }
  [type="checkbox"],
  [type="radio"] {
    @apply rounded border-gray-300 text-primary transition focus:ring-blue-500;
  }
  *{
	  @apply m-0 p-0 box-border;
  }
  body {
    @apply font-primary font-normal m-0 p-0 box-border text-black;
  }
}

@layer components {
  .container {
	@apply max-w-screen-xl mx-auto px-4;
  }
  .myshadow{
	box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
  }
  .login-container {
	height: 100vh;
	padding: 0 2rem;
  }
  .signup-container {
	padding: 0 2rem;
  }
  .swiper-item-wrap > span{
	@apply !h-full;
  }
  @media (min-width: 640px) { .login-container { height: calc(100vh - theme(spacing.24)); } }
  @media (min-width: 1024px) { .home-container { height: calc(100vh - theme(spacing.24)); } }

  .form { @apply text-left max-w-lg my-auto mt-4; }
  .form-element { @apply mb-4; }
  .form-element-image { @apply relative ml-auto mr-auto mb-4 w-16; }
  .form-label-image > .MuiAvatar-root{
	width: 4rem;
	height: 4rem;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
  }
  .form-control-image{ @apply absolute left-0 top-0 z-10 opacity-0 w-16 h-16 hover:cursor-pointer; }
  .form-control-image:hover + label::before{ 
	border-color: #000 !important;
   }
  .form-label { @apply text-sm font-semibold block; }
  .form-control { @apply w-full h-10 mt-2 py-2 pr-8 pl-6 border-2 border-transparent rounded-2xl mb-0; } 
  .form-control-is-invalid { @apply border-red-400; }
  .form-buttons { @apply mb-4; }
  .form-button { @apply bg-primary w-full text-white px-4 py-2 rounded-full h-10 cursor-pointer text-center flex justify-center items-center transition hover:bg-black; }
  .form-goto { @apply flex items-center justify-between; }
  .form-goto-p { @apply m-0 text-sm; }
  .form-goto-a { @apply w-28 text-sm ml-2 text-right text-black transition hover:text-primary; }
  .form-error-text { @apply my-2 text-xs font-semibold text-red-400 block; }
  .form-validation-error { @apply text-white relative py-4 pl-4 pr-1 bg-red-400 rounded-2xl mb-4; }
  .form-validation-close-icon { @apply cursor-pointer absolute right-4 top-2/4 transform -translate-x-2/4 translate-y-0 scale-y-150;}
  .form-validation-success { @apply text-white relative py-4 pl-4 pr-1 bg-green-400 rounded-2xl mb-4; }
}
